:root {
  --color-pink: #f6c0c0;
  --color-dark-pink: #d8505a;
  --color-neon-pink: #eb7d5280;
  --color-yellow: #f1cd8b;
  --color-dark-yellow: #fbc35f;
  --color-neon-yellow: #edca8d92;
  --color-blue: #96b0de;
  --color-dark-blue: #6d91d1;
  --color-neon-blue: #759de3b3;
  --color-purple: #d5b8ea;
  --color-dark-purple: #b482da;
  --color-neon-purple: #af87ccb8;
  --color-border: #caced4;
  --color-background-gray: rgb(56, 56, 56);
  --color-codebackground-gray: rgb(30, 30, 30);
  --color-hover-gray: rgb(112, 112, 112);
  background-color: var(--color-background-gray);
  color: whitesmoke;
}

p {
  color: gray;
}

.edit__container {
  display: flex;
  height: 10%;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: 2px solid var(--color-dark-pink);
}

.file__container {
  display: flex;
  height: 90%;
  width: 100%;
}

.edit__container__left {
  display: flex;
  width: 30%;
}

.edit__container__middle {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.edit__container__right {
  display: flex;
  width: 30%;
  justify-content: right;
  align-items: center;
}

.editfolder {
  display: flex;
  align-items: center;
  text-align: center;
}

.editfolder__btn {
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  background: none;
  font-size: 20px;
}

.mypage__title {
  display: inline;
}

.editfolder {
  display: flex;
}

.editfolder:hover {
  transform: scale(1.1);
}

.addfolder {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 10px;
}

.addfolder:hover {
  transform: scale(1.1);
}

#plusbtn {
  display: none;
}

.deletefolder {
  display: flex;
  align-items: center;
}

.deletefolder:hover {
  transform: scale(1.1);
}

#deletebtn {
  display: none;
}

.edit__editfolder {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 10px;
}

.edit__editfolder:hover {
  transform: scale(1.1);
}

#edit__editfolderbtn {
  display: none;
}

.folder__name {
  display: flex;
  align-items: center;
}

.mypage__title {
  display: flex;
  align-items: center;
  text-align: center;
}

.colors {
  display: flex;
  align-items: center;
}

.pickcolor__icon {
  margin-right: 10px;
}

.yellowcolor__icon {
  margin-right: 10px;
}

.bluecolor__icon {
  margin-right: 10px;
}

.purplecolor__icon {
  margin-right: 20px;
}

.pickcolor__icon:hover {
  transform: scale(1.1);
}

.yellowcolor__icon:hover {
  transform: scale(1.1);
}

.bluecolor__icon:hover {
  transform: scale(1.1);
}

.purplecolor__icon:hover {
  transform: scale(1.1);
}

.folders {
  width: 20%;
  float: right;
  border-right: 2px solid var(--color-dark-pink);
}

.default {
  width: 100%;
  height: 100%;
  overflow: overlay;
}

.folder {
  display: flex;
  align-items: center;
  text-align: center;
}

.folder:hover {
  background-color: var(--color-hover-gray);
  border-radius: 10px;
}

.default::-webkit-scrollbar {
  width: 3px;
  /*스크롤바의 너비*/
}

.default::-webkit-scrollbar-thumb {
  /*스크롤바의 색상*/
  background-color: gray;
}

.default::-webkit-scrollbar-track {
  /*스크롤바 트랙 색상*/
  background-color: whitesmoke;
}

.textfile {
  float: right;
  width: 80%;
  height: 100%;
}

#allnote {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.allnote__icon {
  display: flex;
  width: 15%;
  justify-content: center;
}

.allnote__title {
  display: flex;
  width: 65%;
}

.allnote__num {
  display: flex;
  justify-content: center;
  width: 20%;
}

#recentnote {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.recentnote__icon {
  display: flex;
  width: 15%;
  justify-content: center;
}

.recentnote__title {
  display: flex;
  width: 65%;
}

.recentnote__num {
  display: flex;
  justify-content: center;
  width: 20%;
}

#notinfoler {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.notinfoler__icon {
  display: flex;
  width: 15%;
  justify-content: center;
}

.notinfoler__title {
  display: flex;
  width: 65%;
}

.notinfoler__num {
  display: flex;
  justify-content: center;
  width: 20%;
}

.folder {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.folder__icon {
  display: flex;
  width: 15%;
  justify-content: center;
}

.folder__title {
  display: flex;
  width: 65%;
}

.folder__num {
  display: flex;
  justify-content: center;
  width: 20%;
}

.file {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.file__icon {
  padding-left: 5%;
  display: flex;
  width: 15%;
  justify-content: center;
}

.file__title {
  display: flex;
  width: 80%;
}



.textfilearea {
  height: 100%;
  width: 80%;
  padding-left: 2%;
  padding-right: 2%
}


.folders__title {
  width: 100%;
}

.area__folders {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.afolder {
  display: flex;
  flex-basis: 16%;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 1%;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

.afolder:hover {
  box-shadow: -3px 6px 6px #eb7d5280;
}

#afolder__icon {
  margin-right: 2%;
}

.notes__title {
  width: 100%;
}

.area__notes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.anote {
  display: block;
  flex-basis: 16%;
  height: 200px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  margin-bottom: 2%;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}


.plusbtn__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.plusbtn__show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.plusbtn__window {
  position: relative;
  width: 100%;
  height: 100%;
}

.plusbtn__popup {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 20px;
  background-color: var(--color-background-gray);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 35%;
  height: 25%;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.plusbtn__show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.plusbtn__backclosebtn {
  display: flex;
  width: 98%;
  height: 15%;
  vertical-align: middle;
}
#close__plusbtnbackground:hover{
  transform: scale(1.1);
}
#close__title {
  padding-left: 3%;
}

#close__plusbtnbackground {
  padding-top: 2%;
  margin-left: auto;
}

.plusbtn__backcontent {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 50%;
}

.plusbtn__backcontent__title {
  padding-top: 2%;
}

.createtext {
  width: 100%;
  height: 25%;
  font-size: large;
}

.plusbtn__backcontent__finalselect {
  display: flex;
  height: 20%;
  width: 100%;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.foldercreatebtn {
  width: 20%;
  height: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: solid 2px;
  border-radius: 8px;
  font-size: large;
  margin-right: 2%;
}


.deletebtn__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.deletebtn__show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.deletebtn__window {
  position: relative;
  width: 100%;
  height: 100%;
}

.deletebtn__popup {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 20px;
  background-color: var(--color-background-gray);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 35%;
  height: 25%;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.deletebtn__show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.deletebtn__backclosebtn {
  display: flex;
  width: 98%;
  height: 15%;
  vertical-align: middle;
}
#close__deletebtnbackground:hover{
  transform: scale(1.1);
}
#close__title {
  padding-left: 3%;
}

#close__deletebtnbackground {
  padding-top: 2%;
  margin-left: auto;
}

.deletebtn__backcontent {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 50%;
}

.deletebtn__backcontent__title {
  padding-top: 2%;
}

.delete__selectbtn {
  width: 100%;
  height: 35%;
  font-size: large;
}

.deletebtn__backcontent__finalselect{
  display: flex;
  height: 20%;
  width: 100%;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.deletefolderbtn {
  width: 20%;
  height: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: solid 2px;
  border-radius: 8px;
  font-size: large;
  margin-right: 2%;
}




.edit__editfolderbtn__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.edit__editfolderbtn__show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.edit__editfolderbtn__window {
  position: relative;
  width: 100%;
  height: 100%;
}

.edit__editfolderbtn__popup {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 20px;
  background-color: var(--color-background-gray);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 35%;
  height: 40%;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.edit__editfolderbtn__show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.edit__editfolderbtn__backclosebtn {
  display: flex;
  width: 98%;
  height: 15%;
  vertical-align: middle;
}
#close__editbtnbackground:hover{
  transform: scale(1.1);
}
#close__title {
  padding-left: 3%;
}

#close__editbtnbackground {
  padding-top: 2%;
  margin-left: auto;
}

.edit__editfolderbtn__backcontent {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  height: 60%;
}

.edit__editfolderbtn__backcontent__title {
  padding-top: 2%;
}

.selectbtn {
  width: 100%;
  height: 18%;
  font-size: large;
}

.edit__editfolderbtn__backcontent__finalselect {
  display: flex;
  height: 20%;
  width: 100%;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.folderinbtn {
  width: 20%;
  height: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: solid 2px;
  border-radius: 8px;
  font-size: large;
  margin-right: 2%;
}

.folderoutbtn {
  width: 20%;
  height: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: solid 2px;
  border-radius: 8px;
  font-size: large;
  margin-left: 2%;
}



.openfile__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.openfile__show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.openfile__window {
  position: relative;
  width: 100%;
  height: 100%;
}

.openfile__popup {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid;
  border-radius: 20px;
  background-color: var(--color-background-gray);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 30%;
  height: 20%;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.openfile__show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.openfile__backclosebtn {
  display: flex;
  width: 98%;
  height: 55%;
  vertical-align: middle;
}
#close__openfilebackground:hover{
  transform: scale(1.1);
}
#nowopen__title {
  padding-left: 5%;
}

#close__openfilebackground {
  padding-top: 2%;
  margin-left: auto;
}

.openfile__backcontent__finalselect {
  display: flex;
  height: 30%;
  width: 100%;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.openfilebtn{
  width: 20%;
  height: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: solid 2px;
  border-radius: 8px;
  font-size: large;
  margin-right: 3%;
}
.notopenfilebtn {
  width: 20%;
  height: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: solid 2px;
  border-radius: 8px;
  font-size: large;
  margin-left: 3%;
}


